.card {
    background-color: cornflowerblue;
    height: 300px;
    width: 300px;
    margin: 8px
}

.flex {
 display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: flex-row;
}

.mb-xl {
    margin-bottom: 100px;
}

/* .flex .card:nth-child(2) {
    flex-grow: 2;
} */

.justify {
    /* justify-content: space-between; */
    justify-content: space-evenly;
}